/*** Footer ***/

.footer {
    display: flex;
    flex-direction: column;
    background-color: $color-bg-footer;

    & * {
        color: $color-white;
    }

    &__logo {
        font-family: 'Shrikhand';
        font-weight: 400;
        font-size: 18px;
        padding: 20px 0 15px 25px;
    }
}