/*** Header ***/

.header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 63px;
    margin: 0 auto;
    padding: 16.5px 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);

    @include desktop {
        height: 96px;
        align-items: center;
    }

    &__retour {
        position: absolute;
        left: 23px;
        top: 23px;

        @include desktop {
            top: 40px;
        }
    }
}