/*** Menu ***/

.menu {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__img {
        object-fit: cover;
        width: 100%;
        margin-bottom: -40px;

        @include desktop {
            height: 390px;
        }

        @include tablet {
            height: 320px;
        }
    }

    &__texte {
        display: flex;
        flex-direction: column;
        background-color: $color-bg-alt;
        border-radius: 40px 40px 0 0;

        @include desktop {
            width: 73%;
            margin: 0 auto;
        }
    }

    &__title h1 {
        font-family: 'Shrikhand';
        font-size: 28px;
        font-weight: 400;
        padding: 32px 17px 0;

        @include desktop {
            padding: 51px 0 0;
        }

        @include tablet {
            padding: 51px 0 0;
        }
    }

    &__texte h2 {
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 40px 4% 0;
        border-bottom: 3px $color-rect-new solid;
        padding-bottom: 10px;
        width: 40px;

        @include desktop {
            margin: 40px 20% 0;
        }

        @include tablet {
            margin: 40px 12.5% 0;
        }
    }

    &__texte p {
        font-size: 15px;
        font-weight: 300;
    }

    &__title {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include desktop {
            justify-content: center;
            gap: 24px;
        }

        @include tablet {
            justify-content: center;
            gap: 24px;
        }
    }

    &__title-icon {
        @include heart;
        margin-top: 36px;
        margin-right: 10%;

        @include desktop {
            margin-top: 54px;
            margin-right: 0;
        }

        @include tablet {
            margin-top: 54px;
            margin-right: 0;
        }
    }

    &__dish {
        @include dish-cell;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
    }

    &__dish p {
        display: flex;
        justify-content: space-between;
    }

    &__prix {
        font-size: 15px;
        font-weight: 700;
    }

    &__coche {
        display: none;
    }

    &__entrees,
    &__plats,
    &__desserts {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}