/*** Buttons ***/ 

.presentation__cta {
    margin: 27px auto 57px;
    padding: 13px 18.75px;
    border: none;
    background: $color-bg-btn-faded;
    color: $color-white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}