/*** Buttons ***/ 

.presentation__cta {
    @include btn;
    margin: 27px auto 57px;
    padding: 15px 20px;
    @include desktop {
        margin: 25px auto 30px;
    }
}

.menu__cta {
    @include btn;
    margin: 40px auto;
    padding: 15px 40px;
}

