/*** Base ***/
a {
  color: #000000;
  text-decoration: none;
}

.main-container {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

/*** Typography ***/
* {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-weight: 700;
  font-size: 24px;
}

/*** mini-reset css ***/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*** Buttons ***/
.presentation__cta {
  display: flex;
  border: none;
  cursor: pointer;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin: 27px auto 57px;
  padding: 15px 20px;
}
.presentation__cta:hover {
  background: linear-gradient(0deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}
@media (min-width: 1024px) {
  .presentation__cta {
    margin: 25px auto 30px;
  }
}

.menu__cta {
  display: flex;
  border: none;
  cursor: pointer;
  background: linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  margin: 40px auto;
  padding: 15px 40px;
}
.menu__cta:hover {
  background: linear-gradient(0deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.35);
}

/*** Logo ***/
.logo {
  font-size: 30px;
}
@media (min-width: 1024px) {
  .logo {
    font-size: 34px;
  }
}

/*** Header ***/
.header {
  display: flex;
  justify-content: center;
  position: relative;
  height: 63px;
  margin: 0 auto;
  padding: 16.5px 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
  .header {
    height: 96px;
    align-items: center;
  }
}
.header__retour {
  position: absolute;
  left: 23px;
  top: 23px;
}
@media (min-width: 1024px) {
  .header__retour {
    top: 40px;
  }
}

/*** Footer ***/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
@media (min-width: 1024px) {
  .footer {
    height: 114px;
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .footer {
    height: 114px;
    flex-direction: row-reverse;
  }
}
.footer * {
  color: #FFFFFF;
}
.footer__logo {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  padding: 20px 0 15px 25px;
}
@media (min-width: 1024px) {
  .footer__logo {
    padding: 57px 57px 0 85px;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .footer__logo {
    padding: 57px 57px 0 85px;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  padding: 0 0 25px 25px;
  gap: 7px;
}
@media (min-width: 1024px) {
  .footer__text {
    flex-direction: row;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .footer__text {
    flex-direction: row;
  }
}
.footer__text--sub {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1024px) {
  .footer__text--sub {
    flex-direction: row;
    padding: 63px 0 0 40px;
    gap: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .footer__text--sub {
    flex-direction: row;
    padding: 63px 0 0 40px;
    gap: 15px;
  }
}
.footer__text h3 {
  font-size: 16px;
  font-weight: 500;
}
.footer__text--sub h3 {
  font-weight: 400;
}
.footer__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
}
@media (min-width: 1024px) {
  .footer__icon {
    padding-top: 56px;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .footer__icon {
    padding-top: 56px;
  }
}

/*** Menu ***/
.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu__img {
  object-fit: cover;
  width: 100%;
  margin-bottom: -40px;
}
@media (min-width: 1024px) {
  .menu__img {
    height: 390px;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .menu__img {
    height: 320px;
  }
}
.menu__texte {
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  border-radius: 40px 40px 0 0;
}
@media (min-width: 1024px) {
  .menu__texte {
    width: 73%;
    margin: 0 auto;
  }
}
.menu__title h1 {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
  padding: 32px 17px 0;
}
@media (min-width: 1024px) {
  .menu__title h1 {
    padding: 51px 0 0;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .menu__title h1 {
    padding: 51px 0 0;
  }
}
.menu__texte h2 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 40px 4% 0;
  border-bottom: 3px #99E2D0 solid;
  padding-bottom: 10px;
  width: 40px;
}
@media (min-width: 1024px) {
  .menu__texte h2 {
    margin: 40px 20% 0;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .menu__texte h2 {
    margin: 40px 12.5% 0;
  }
}
.menu__texte p {
  font-size: 15px;
  font-weight: 300;
}
.menu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 1024px) {
  .menu__title {
    justify-content: center;
    gap: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .menu__title {
    justify-content: center;
    gap: 24px;
  }
}
.menu__title-icon {
  font-size: 22px;
  cursor: pointer;
  margin-top: 36px;
  margin-right: 10%;
}
@media (min-width: 1024px) {
  .menu__title-icon {
    margin-top: 54px;
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .menu__title-icon {
    margin-top: 54px;
    margin-right: 0;
  }
}
.menu__dish {
  border: none;
  margin: 0 auto;
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 12px 15px;
  width: 93%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
}
@media (min-width: 1024px) {
  .menu__dish {
    width: 60%;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .menu__dish {
    width: 75%;
  }
}
.menu__dish p {
  display: flex;
  justify-content: space-between;
}
.menu__prix {
  font-size: 15px;
  font-weight: 700;
}
.menu__coche {
  display: none;
}
.menu__entrees, .menu__plats, .menu__desserts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/*** Fonctionnement ***/
.fonction {
  background-color: #FFFFFF;
}
@media (min-width: 1024px) {
  .fonction {
    height: 228px;
  }
}
.fonction__cardlist {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .fonction__cardlist {
    flex-direction: row;
    padding-left: 14%;
    padding-right: 14%;
    gap: 36.5px;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .fonction__cardlist {
    flex-direction: row;
    padding-left: 8%;
    padding-right: 8%;
    gap: 36.5px;
  }
}
.fonction__number-dot {
  height: 24px;
  width: 24px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 50px;
  padding: 5px;
  background-color: #9356DC;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: -12px;
}
.fonction__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 25px;
  padding-left: 15px;
  gap: 22px;
  height: 72px;
  width: 85%;
  max-width: 322px;
  border-radius: 20px;
  background-color: #F7F7F7;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.fonction h2 {
  padding: 50px 0 5px 20px;
}
@media (min-width: 1024px) {
  .fonction h2 {
    padding: 52px 0 5px 13%;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .fonction h2 {
    padding: 52px 0 5px 7%;
  }
}
.fonction h3 {
  font-size: 16px;
  font-weight: 500;
}

/*** Presentation ***/
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #F7F7F7;
}
.presentation__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  font-weight: 500;
  font-size: 16px;
}
.presentation__location-input {
  background: #EAEAEA;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.presentation h1 {
  margin-top: 40px;
}
@media (min-width: 1024px) {
  .presentation h1 {
    font-size: 40px;
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .presentation h1 {
    font-size: 32px;
  }
}

.presentation h3 {
  font-weight: 300;
  font-size: 18px;
  margin-top: 25px;
}

/*** Restaurants ***/
.restaurants {
  background-color: #F7F7F7;
}
.restaurants__img {
  object-fit: cover;
  height: 70%;
  border-radius: 15px 15px 0 0;
}
.restaurants__cardlist {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-bottom: 66px;
}
@media (min-width: 1024px) {
  .restaurants__cardlist {
    display: grid;
    margin: 0 13%;
    padding-bottom: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 100px;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .restaurants__cardlist {
    display: grid;
    margin: 0 5%;
    padding-bottom: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 20px;
  }
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 90%;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1024px) {
  .restaurants__card {
    width: 100%;
  }
}
.restaurants__card-content {
  display: flex;
  justify-content: space-between;
  height: 30%;
}
.restaurants__card-icon {
  font-size: 22px;
  cursor: pointer;
  position: relative;
  right: 25px;
  top: 23px;
}
.restaurants h2 {
  padding: 55px 0 20px 20px;
}
@media (min-width: 1024px) {
  .restaurants h2 {
    padding: 32px 0 25px 13%;
  }
}
@media (min-width: 768px) and (max-width: 1023.9px) {
  .restaurants h2 {
    padding: 32px 0 25px 7%;
  }
}
.restaurants h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 16px 0 5px 13px;
}
.restaurants p {
  font-size: 17px;
  font-weight: 300;
  padding: 0 0 15px 13px;
}
.restaurants__rect-new {
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  height: 29px;
  width: 80px;
  background: #99E2D0;
  color: #008766;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 12px;
  right: 12px;
}

/*# sourceMappingURL=style.css.map */
