/*** Base ***/
a {
  color: #000000;
  text-decoration: none;
}

/*** Typography ***/
* {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-weight: 700;
  font-size: 24px;
}

/*** mini-reset css ***/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*** Buttons ***/
.presentation__cta {
  margin: 27px auto 57px;
  padding: 13px 18.75px;
  border: none;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

/*** Header ***/
.header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

/*** Footer ***/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
.footer * {
  color: #FFFFFF;
}
.footer__logo {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 18px;
  padding: 20px 0 15px 25px;
}
.footer__text {
  display: flex;
  flex-direction: column;
  padding: 0 0 25px 25px;
  gap: 7px;
}
.footer__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  gap: 11px;
}

/*** Fonctionnement ***/
.fonction {
  background-color: #FFFFFF;
}
.fonction__cardlist {
  display: flex;
  flex-direction: column;
}
.fonction__number-dot {
  height: 24px;
  width: 24px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 50px;
  padding: 5px;
  background-color: #9356DC;
  text-align: center;
  color: #FFFFFF;
}
.fonction__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  gap: 25px;
  height: 72px;
  width: 85%;
  border-radius: 20px;
  background-color: #F7F7F7;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.fonction h2 {
  padding: 50px 0 5px 20px;
}
.fonction h3 {
  font-size: 16px;
  font-weight: 500;
}

/*** Presentation ***/
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #F7F7F7;
}
.presentation__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  font-weight: 500;
  font-size: 16px;
}

.presentation h1 {
  margin-top: 40px;
}

.presentation h3 {
  font-weight: 300;
  font-size: 18px;
  margin-top: 25px;
}

/*** Restaurants ***/
.restaurants {
  background-color: #F7F7F7;
}
.restaurants__img {
  object-fit: cover;
  height: 70%;
  border-radius: 15px 15px 0 0;
}
.restaurants__cardlist {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 251px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.restaurants__card-content {
  display: flex;
  justify-content: space-between;
  height: 30%;
}
.restaurants i {
  position: relative;
  right: 23px;
  top: 25px;
}
.restaurants h2 {
  padding: 55px 0 20px 20px;
}
.restaurants h3 {
  font-size: 18px;
  font-weight: 700;
  padding: 16px 0 5px 13px;
}
.restaurants p {
  font-size: 17px;
  font-weight: 300;
  padding: 0 0 15px 13px;
}

.restaurants a:last-of-type {
  padding-bottom: 66px;
}

/*# sourceMappingURL=style.css.map */
