/*** Fonctionnement ***/

.fonction {
    background-color: $color-white;

    @include desktop {
        height: 228px;
    }

    &__cardlist {
        display: flex;
        flex-direction: column;
        padding-bottom: 68px;

        @include desktop {
            flex-direction: row;
            padding-left: 14%;
            padding-right: 14%;
            gap: 36.5px;
            padding-bottom: 0;
        }

        @include tablet {
            flex-direction: row;
            padding-left: 8%;
            padding-right: 8%;
            gap: 36.5px;
            padding-bottom: 50px;
        }
    }

    &__number-dot {
        height: 24px;
        width: 24px;
        font-weight: 500;
        font-size: 14px;
        border-radius: 50px;
        padding: 5px;
        background-color: $color-dots;
        text-align: center;
        color: $color-white;
        position: absolute;
        left: -12px;
    }

    &__card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-top: 25px;
        padding-left: 15px;
        gap: 22px;
        height: 72px;
        width: 85%;
        max-width: 322px;
        border-radius: 20px;
        background-color: $color-bg-alt;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    }

    & h2 {
        padding: 50px 0 5px 20px;

        @include desktop {
            padding: 52px 0 5px 13%;
        }

        @include tablet {
            padding: 52px 0 5px 7%;
        }
    }

    & h3 {
        font-size: 16px;
        font-weight: 500;
    }
}