/*** Restaurants ***/

.restaurants {
    background-color: $color-bg-alt;

    &__img {
        object-fit: cover;
        height: 70%;
        border-radius: 15px 15px 0 0;
    }

    &__cardlist {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-bottom: 66px;

        @include desktop {
            display: grid;
            margin: 0 13%;
            padding-bottom: 30px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 50px 100px;
        }

        @include tablet {
            display: grid;
            margin: 0 5%;
            padding-bottom: 30px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 40px 20px;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        height: inherit;
    }

    &__card {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 90%;
        height: 251px;
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

        @include desktop {
            width: 100%;
        }
    }

    &__card-content {
        display: flex;
        justify-content: space-between;
        height: 30%;
    }

    &__card-icon {
        @include heart;
        position: absolute;
        right: 25px;
        top: 198px;
        height: fit-content;

        &--empty {
            position: absolute;
            color: $color-black;
        }

        &--full {
            opacity: 0;
            background: $color-bg-btn-faded-lighter;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transition: all 1000ms ease-in-out;
        }

        &:hover &--full,
        &:focus &--full {
            opacity: 1;
        }

        &:hover &--empty,
        &:focus &--empty {
            opacity: 0;
        }
    }

    & h2 {
        padding: 55px 0 20px 20px;

        @include desktop {
            padding: 32px 0 25px 13%;
        }

        @include tablet {
            padding: 32px 0 25px 7%;
        }
    }

    & h3 {
        font-size: 18px;
        font-weight: 700;
        padding: 16px 0 5px 13px;
    }

    & p {
        font-size: 17px;
        font-weight: 300;
        padding: 0 0 15px 13px;
    }

    &__rect-new {
        @include rect-new;
        position: absolute;
        top: 12px;
        right: 12px;
    }
}